//variables
@use "../utilities/variables" as *;
//mixin
@use "../utilities/mixin" as * ;
//MQ Tablet
@media  screen and (min-width: 769px) {
    header {
        nav {
            div{
                font-size: 1.4rem;
                a{
                    img{
                        @include logo(130px, 100px);
                    }
                }
            }
        }
    }
    .sectionIndex {
        font-size: 1.3rem;
        .video {
            width: 700px;
            height: 600px;
        }
    }
    //staff
    .sectionStaff {
        font-size: 1.3rem;
        .nStaff {
            width: 80%;
            justify-self: center;
        }
        .tarjetas {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    //contacto
    .sectionContacto {
        font-size: 1.2rem;
        .map {
            width: 600px;
            height: 500px;
        }
        form{
            width: 50%;
        }
    }
    //footer
    footer {
        font-size: 1.5rem;
        .redes {
            a {
                img {
                    @include logo(28px, 28px);
                }
            }
        }
    }
}