//variables
@use "../utilities/variables" as *;
//mixin
@use "../utilities/mixin" as * ;

//Estilos Generales
body {
    font-family: "Titillium Web", sans-serif;
}
//Estilos Header
header {
    nav {
        div {
             a {
                img {
                    @include logo(90px, 65px);
                }
             }
        }   ul {
            .nav-item {
                transition: 1s ease;
                &:hover{
                    box-shadow: 0 0 8px ;
                    color: $color-verde-claro !important; 
                }
                .nav-link {
                    &:hover{
                        box-shadow: 0 0 8px ;
                        color: #BCD33D !important; 
                    }
                }
            }
        }
    }
}
//Main
.sectionIndex {
    @include flex-column;
    font-size: 1rem;
    .club {
        @include flex-column;
        padding: 1rem;
        img {
           width: 100%;
           height: auto;
            object-fit: cover;
            border-radius: 10px 10px 10px 10px;
        }
    }
    .qSomos {
        @include flex-column;
        padding: 1rem;
        h1 {
            text-align: center;
            margin-bottom: 1rem;
            text-decoration: underline $color-verde-oscuro;
            color: $color-naranja;
        }
        p {
            text-align: justify;
            padding: 0.5rem;
        }
    }
    .video {
        width: 350px;
        height: 250px;
    }

}
//CSS Staff
.sectionStaff {
    .nStaff {
        @include flex-column;
        text-align: justify;
        padding: 1rem;
        h1 {
            text-align: center;
            margin-bottom: 1rem;
            text-decoration: underline $color-verde-oscuro;
            color: $color-naranja;
        }
        p {
            text-align: justify;
            padding: 0.5rem;
        }
    }
    .tarjetas {
        @include flex-column;
        font-size: 1rem;
        .card {
            margin: 2rem;
            transition: 2s;
            &:hover{
                transform: scale(1.2);
                box-shadow: 0px 25px 25px $color-verde-claro;
            }
            .card-img-top{
                height: 286px;
                object-fit: cover;
            }
            .card-title {
                color: $color-naranja;
                text-decoration: underline $color-verde-oscuro;
            }
        }
    }
    .logoStaff {
        display: none;
    }
}
//CSS Contacto
.sectionContacto {
    @include flex-column;
    padding: 1rem;
    .contacto {
        h1{
            text-align: center;
            margin-bottom: 1rem;
            text-decoration: underline $color-verde-oscuro;
            color: $color-naranja;
        }
        p {
            text-align: start;
            padding: 0.5rem;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 5px;
        padding-bottom: 15px;
        margin-top: 1rem ;
        margin-bottom: 1rem;
        background-color: #226B57;
        box-shadow: 0px 0px 25px #D06F45;
        input, textarea {
            margin: 1rem;
        }
        button {
            width: 30%;
            border: #D06F45 solid;
            background-color: #D06F45;
            color: #226B57;
            align-self: center; 
        }
    }
}
//CSS Footer
footer {
    @include flex-column;
    background-color: $color-verde-oscuro;
    margin-top: 1rem;
    padding: 1rem;
    border-top: 3px solid $color-naranja;
    color: $color-naranja;
    .redes {
            a {
                img {
                    @include logo (24px, 24px)
                }
            }
        }
    
}


